@model IEnumerable<MenuItem>
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading"> Core </div>
				<a class="nav-link" href="inex.html">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i> Dashboard
					</div>
				</a>
				<div class="sb-sidenav-menu-heading"> Addons</div>
				@foreach (var item in Model)
				{
					<a class="nav-link" href="@item.Url">
						<div class="sb-nav-link-icon">
							<i class="fas fa-chart-area"></i> @item.Name
						</div>
					</a>
				}
			</div>
		</div>
		<div class="sb-sidenav-footer">
			<div class="small">Logged in as: MyAccount</div>
		</div>
	</nav>
